// Paste the file contents into the arrays in the following fashion. Make sure you follow these four rules when doing so:

// Do not add any extra whitespaces
// End your lines with: \n\
// End the last line with: \n
// Put the array in quotes: ""

const char rootCABuff[] = {"|root|"};

const char certificateBuff[] = {"|cert|"};

const char privateKeyBuff[] = {"|priv|"};
